<div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="/admin">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/slider">
                <i class="mdi mdi-border-color menu-icon"></i>
                <span class="menu-title">Slider</span>
              </a>
            <li class="nav-item">
              <a class="nav-link" href="/services">
                <i class="mdi mdi-border-color menu-icon"></i>
                <span class="menu-title">Services</span>
              </a>
            <li class="nav-item">
              <a class="nav-link" href="/settings">
                <i class="mdi mdi-border-color menu-icon"></i>
                <span class="menu-title">Settings</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="mdi mdi-bell-ring menu-icon"></i>
                <span class="menu-title">Notices</span>
              </a>
            </li>
          </nav> 
      <div class="main-panel"> 