<div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="/admin">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/slider">
                <i class="mdi  mdi-google-photos"></i>
                <span class="menu-title">Slider</span>
              </a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="/about">
                <i class="mdi   mdi-information-outline"></i>
                <span class="menu-title">About</span>
              </a>
            </li>  
            <li class="nav-item">
              <a class="nav-link" href="/services">
                <i class="mdi   mdi-format-line-style"></i>
                <span class="menu-title">Services</span>
              </a>
            </li>  
            <li class="nav-item">
              <a class="nav-link" href="/career">
                <i class="mdi  mdi-clipboard-account-outline"></i>
                <span class="menu-title">Career</span>
              </a>
            </li>  
            <li class="nav-item">
              <a class="nav-link" href="/applications">
                <i class="mdi  mdi-clipboard-account-outline"></i>
                <span class="menu-title">Applications</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/interns">
                <i class="mdi mdi-account-switch"></i>
                <span class="menu-title">Interns</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/offers">
                <i class="mdi mdi-office"></i>
                <span class="menu-title">We Offer</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/clients">
                <i class="mdi mdi-account-box"></i>
                <span class="menu-title">Clients</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/settings">
                <i class="mdi mdi-settings"></i>
                <span class="menu-title">Settings</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/backup_restore">
                <i class="mdi mdi-backup-restore"></i>
                <span class="menu-title">Backup & Restore</span>
              </a>
            </li>
          </nav> 
      <div class="main-panel"> 