<%- include("../../partials/admin-header") -%>
<%- include("../../partials/admin-nav") -%>


        <div class="content-wrapper p-5">
         
          <div class="row">
            <div class="col-md-12 stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Backup & Restore</p>
 
                <div>
                  <button class="btn btn-primary createBackupFile">Create Backup File</button>
                </div>
                <div class="py-5">
                  <form  id="Restore">
                    <div class="form-group">
                      <label for="backupFile">Upload a backup file</label>
                      <input type="file" accept=".zip" class="form-control" name="backupFile" id="backupFile" style="border: none !important;">
                    </div>
                    <div>
                      <button class="btn btn-primary" type="submit">Restore</button>
                    </div>
                  </form>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>


<script src="/dashboard/custom/js/br.js"></script>


<script type="text/javascript">
  
/*Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result)=> {
  console.log(result)
})

*/


function showToast(){
   toastr["success"]("ripon", "Ripon");
   toastr["error"]("ripon", "Ripon");
   toastr["warning"]("ripon", "Ripon");
   toastr["info"]("ripon", "Ripon");
}


</script>



<%- include("../../partials/admin-footer") -%>