<%- include("../../partials/admin-header") -%>
<%- include("../../partials/admin-nav") -%>


        <div class="content-wrapper p-5">
         
          <div class="row">
            <div class="col-md-12 stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Backup & Restore</p>
 
                <div>
                  <button class="btn btn-primary createBackupFile">Create Backup File</button>
                </div>
                <div class="py-5">
                  <form  id="Restore">
                    <div class="form-group">
                      <label for="backupFile">Upload a backup file</label>
                      <input type="file" accept=".zip" class="form-control" name="backupFile" id="backupFile" style="border: none !important;">
                    </div>
                    <div>
                      <button class="btn btn-primary" type="submit">Restore</button>
                    </div>
                  </form>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>



<script type="text/javascript">
  
/*Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result)=> {
  console.log(result)
})

*/


function showToast(){
   toastr["success"]("ripon", "Ripon");
   toastr["error"]("ripon", "Ripon");
   toastr["warning"]("ripon", "Ripon");
   toastr["info"]("ripon", "Ripon");
}



$(".createBackupFile").click(()=>{

 toastr["success"]("Please wait");

$.ajax({
  type : 'GET',
  url : '/create-backup',
  success : function(res) {
    if(res.status){

       Swal.fire({
  title: 'Backup Created',
  text: "Download the backup",
  icon: 'success',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes'
})
 .then((result)=> {

   if(result.isConfirmed){
    window.open(res.file, '_blank');
   }

 })


    }
  },
  error : function(err){
      Swal.fire(
          'Error',
          'Something went wrong',
          'error'
        )
    }
})




})







$('#Restore').submit((e)=> {
  e.preventDefault();
  var formData = new FormData(document.getElementById("Restore"))


if($('#backupFile').val()){



Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes'
}).then((result)=> {
     
     if(result.isConfirmed){
       







$.ajax({
  type: 'POST',
  url : '/restore',
  data : formData,
  processData: false,
  contentType: false,
  success : function(res) {
    if(res.status){
 
       Swal.fire(
          'Success',
          'Settings updated',
          'success'
        )
    }
  },
  error : function(err){
      Swal.fire(
          'Error',
          'Something went wrong',
          'error'
        )
    }
})













     }
})

}else{

  Swal.fire(
    'Error',
    'Please choose a file',
    'error'
  )

}
})


</script>



<%- include("../../partials/admin-footer") -%>