<%- include("../../partials/admin-header") -%>
<%- include("../../partials/admin-nav") -%>


        <div class="content-wrapper p-5">
         
          <div class="row">
            <div class="col-md-12 stretch-card">
              <div class="card">
                <div class="card-body">
                <div class="align-items-baseline d-flex justify-content-between">
                <p class="card-title">New Opening</p>
                </div>

<div id="newopeningform"  class="py-5">
  
    <form id="form"  method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label for="title">Title</label>
                  <input type="text" class="form-control" required name="title"  id="title" placeholder="title">
              </div>
              <div class="form-group">
                <label for="title">Position</label>
                  <input type="text" class="form-control" required name="designation"  id="designation" placeholder="position">
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control border" name="description"    id="description" rows="7"  required placeholder="description" ></textarea>
              </div>
              <div class="form-group">
                <label for="title">Form Link</label>
                  <input type="text" class="form-control"  name="form_link"  id="form_link" placeholder="form link" title="leave this blank if you want to use default form">
              </div>
        <div>
            <button type="submit" id="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
</div>


                </div>
              </div>
            </div>
          </div>
        </div>

<script src="/dashboard/custom/js/newopening.js"></script>



<%- include("../../partials/html-editor") -%>




<script type="text/javascript">

   var editor = new FroalaEditor('#description',{
      pluginsEnabled: ['align','image','lists','fontSize','video','fullscreen']
   });



</script>


<%- include("../../partials/admin-footer") -%>