<%- include("../../partials/admin-header") -%>
<%- include("../../partials/admin-nav") -%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/css/froala_editor.min.css" integrity="sha512-nAJK2yafVBW/IqrSgLaNgFeISsusduUoQ8WTNDvHwdnThbiGoP3Myc4fq0Z0bGS8ZowxzGLafmPtHwTp2T5qRQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/plugins/image.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/plugins/fullscreen.min.css" />

        <div class="content-wrapper p-5">
         
          <div class="row">
            <div class="col-md-12 stretch-card">
              <div class="card">
                <div class="card-body">
                <div class="align-items-baseline d-flex justify-content-between">
                <p class="card-title">New Service</p>
                </div>

          <div id="serviceform"  class="py-5">
            
              <form id="form"  method="post" enctype="multipart/form-data">
                  <div class="form-group">
                        <label for="title">Title</label>
                          <input type="text" class="form-control" required name="title"  id="title" placeholder="title">
                        </div>
                        <div class="d-flex form-group row">
                          <div class="col-lg-4 col-md-4">
                            <label for="img">Image</label>
                            <input type="file" required  style="border: none !important;" class="form-control" name="img" id="img">
                          </div>
                          <div id="imgPreviewBox" class="col col-lg-8 text-center" style="height: 500px;width: auto;margin: auto;overflow: scroll;position: relative;">
                            <img src=''   id="imgPreview"   class="img-fluid"style="left: 50%;transform: translate(-50%, 0);position: absolute;">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="description">Description</label>
                          <textarea class="form-control border"  required name="description" id="description" rows="10" placeholder="description" maxlength="350"></textarea>
                        </div>
                        <div class="form-group d-flex">
                        <div  class="px-4 py-3">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="show_content_first"  id="show_content_first">
                            <label class="form-check-label" for="show_content_first">
                              Show Content First
                            </label>
                          </div>
                        </div>

                        </div>






<div class="form-check">
  <input class="form-check-input"  type="checkbox"  name="moreDetails" id="flexCheckChecked" >
  <label class="form-check-label m-0" for="flexCheckChecked">
    Add More Details
  </label>
</div>
<div class="form-group des">
  <label for="full_description">Description</label>
  <textarea class="form-control" name="full_description" id="full_description" rows="15" style="border: 1px solid;" maxlength="500"></textarea> 
</div>  
<div class="form-group des">
  <label for="keywords">Keywords</label>
  <input type="text" title="seperate keywords with comma" class="form-control" value='<%= settings.keywords %>'  name="keywords" id="keywords" placeholder="type keywords here">
</div>







                  <div>
                      <button type="submit" id="submit" class="btn btn-primary">Add</button>
                  </div>
              </form>
          </div>


                </div>
              </div>
            </div>
          </div>
        </div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/froala_editor.min.js" integrity="sha512-M21u/bhNAlYd5NOd271FkyJrmFxRGOA492Y0g0T8d+5u7iGrAo6uTrBzxD3vV1HKMyTyYYehio3O+7LDvYHDYA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/plugins/image.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/plugins/align.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/plugins/lists.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/plugins/font_size.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/plugins/font_size.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/plugins/video.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/plugins/fullscreen.min.js"></script>



<script type="text/javascript">

   var editor = new FroalaEditor('#full_description',{
      pluginsEnabled: ['align','image','lists','fontSize','video','fullscreen']
   });



</script>







<script>
  $('.des').hide();



  $('#flexCheckChecked').click((e)=> {
       if(e.target.checked){
  
$('.des').show(300);

       }else{

$('.des').hide(200);
       }
  })
</script>










<script type="text/javascript">
 
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          function na(){
            $('#imgPreview').attr("src", e.target.result)
            $('#imgPreviewBox').show(300);
          }
          na();
        }
        reader.readAsDataURL(input.files[0]); // convert to base64 string
      }
    }
    $("#img").change(function() {
    readURL(this);
    });

</script>

<script> 
$('#serviceform #form').submit((e)=>{
  e.preventDefault();
  var formData = new FormData(document.getElementById('form'));

  toastr["success"]("Please wait, your request is being processing");
  
  $.ajax({
    type : 'POST',
    url: '/services',
    data: formData,
    processData: false,
    contentType: false,
    success: function(res) {
      if(res.status){
       Swal.fire(
          'Success',
          'Service Added',
          'success'
        ).then(()=> {
          window.location.href = "/services"
        })
      }
    },
    error : function(err){
      Swal.fire(
          'Error',
          'Something went wrong',
          'error'
        )
    }
  })
})

</script>

<%- include("../../partials/admin-footer") -%>